
/*mini cart and search area css*/
.mini-cart-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.mini-cart-search > div {
	margin-right: 35px;
}
.mini-cart-search > div:last-child{
    margin-right: 0;
}
.mini-cart {
	position: relative;
	padding: 15px 0;
}
.mini-cart > a {
	color: #000;
	position: relative;
	padding-left: 35px;
	display: block;
}
.mini-cart:hover > a{
    color: #f63440; 
}
.cart-icon {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.cart-icon:before {
	content: '\f07a';
	font-family: FontAwesome;
	line-height: 1;
	font-size: 18px;
}
.cart-quantity {
	position: absolute;
	background: #f63440;
	height: 19px;
	line-height: 19px;
	width: 19px;
	text-align: center;
	border-radius: 100%;
	color: #fff;
	font-size: 12px;
	left: 12px;
	top: -6px;
	z-index: 1;
}
.cart-title {
	display: block;
	font-size: 13px;
	font-weight: 500;
	text-align: left;
	line-height: 1;
}
.cart-title > strong {
	display: block;
	font-weight: 500;
	margin-top: 6px;
}
.cart-dropdown {
	text-align: left;
	position: absolute;
	top: 100%;
	right: 0;
	width: 360px;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 30px 25px 15px 25px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    z-index: 99;
}
.cart-dropdown ul > li {
	display: flex;
	list-style: none;
	overflow: hidden;
	padding: 0 0 20px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;



}
.cart-dropdown ul > li:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.cart-img {
	float: left;
	width: 25%;
}
.cart-img img{
    width: 100%;
}
.cart-img > a {
	display: block;
	border: 1px solid #ededed;
	width: auto !important;
    height: auto !important;
    line-height: auto !important;
    border-radius: 0% !important;
}
.cart-img > a:hover{
    border-color: #f63440;
}
.cart-content {
	float: left;
	width: 52%;
	margin-left: 20px;
}
.product-name {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	margin: 0 30px 5px 0;
	text-align: left;
}
.product-name  a {
    width: auto !important; 
	height: auto !important;
    text-align: center;
	border-radius: 0% !important;
}
.product-name  a:hover {
	background: white !important;
}
.cart-content span.quantity {
	color: #555555;
	display: block;
	font-size: 13px;
	font-weight: 400;
	text-align: left;
}
.cart-content span.cart-price {
	display: block;
	margin-top: 8px;
	text-align: left;
	font-size: 14px;
	font-weight: 400;
	color: #555;
	line-height: 21px;
}
.cart-remove{
    position: relative;
}
.cart-remove > a {
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 1;
}
.cart-subtotal {
	border-top: 1px solid #e5e5e5;
	color: #555;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	padding: 15px 0;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
}
.cart-subtotal > strong {
	font-weight: 400;
}
.cart-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 25px;
    border-top: 1px solid #e5e5e5;
}
.cart-btn a {
	background: #fff;
	color: #555;
    border: 1px solid #e5e5e5;
	display: inline-block;
	font-size: 14px;
    font-weight: 400;
	height: 50px;
	line-height: 48px;
	padding: 0;
    margin: 10px 0;
	text-align: center;
	text-transform: uppercase;
	width: 125px !important;
    border-radius: 1px !important;
}
.cart-btn a:hover{
    background: #f63440;
    border-color: #f63440;
    color: #fff;
}
/* .single-cart-item  a {
	width: auto !important;
    height: auto !important;
    line-height: auto !important;
    text-align: center;
    border-radius: 0% !important;
    font-size: 15px;
    color: #333333;
    display: inline-block;
    position: relative;
    background: transparent;

} */